<!DOCTYPE html>
<html lang="fi">
<head>
    <meta charset="UTF-8">
    <title>Chatsovellus</title>
</head>
<body>
    <h1>Keskustelualueet</h1>
    <hr>
        Keskustelualueiden määrä: {{ count_categories }} Viestien määrä: {{ count_messages }}
    <hr>    
        <ul>
            {% for category in categories %}
            <li>
                <a href="/{{ category.name }}">{{ category.name }}</a>
                <p>Viestien määrä:</p>
            </li>
            {% endfor %}
        </ul>
    <hr>
    {% if session.user_id %}
    Olet kirjautunut sisään.
    <a href="/logout">Kirjaudu ulos</a>
    {% else %}
    <a href="/login">Kirjaudu sisään</a>
    {% endif %}
</body>
</html>