{% extends 'layout.html' %}
{% block title %}Rekisteröidy{% endblock %}
{% block content %}
<div class="content login-page">
    <div class="login-container">
        <form action="/register" method="post">
            <label for="username">Käyttäjätunnus:</label>
            <input type="text" id="username" name="username" placeholder="Käyttäjätunnus" maxlength="32" required>
            <p>
            <label for="password1">Salasana:</label>
            <input type="password" id="password1" name="password1" placeholder="Salasana" maxlength="64" required>
            <p>
            <label for="password2">Salasana uudestaan:</label>
            <input type="password" id="password2" name="password2" placeholder="Salasana uudestaan" maxlength="64" required>
            <p>
            <input type="submit" value="Luo tunnus">
        </form>
    </div>
</div>
<script>
    const requiredFields = document.querySelectorAll("input[required], textarea[required]");
    requiredFields.forEach(field => {
        field.addEventListener("invalid", function(event) {
            field.setCustomValidity("Tekstikenttä ei saa olla tyhjä");
        });
        field.addEventListener("input", function(event) {
            field.setCustomValidity("");
        });
    });
</script>
{% endblock %}